# scikit-learn
# streamlit
# openpyxl
# pandas
# numpy
# scipy
# matplotlib
# seaborn
# plotly
streamlit
pandas
scikit-learn
scipy
matplotlib
numpy
seaborn
plotly
lazypredict == 0.2.12
lightgbm
xgboost
